<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Images/icons/favicon.png" />
    <!--===============================================================================================-->
    @Styles.Render("~/Content/bootstrap")
    <!--===============================================================================================-->
    @Styles.Render("~/fonts/css")
    <!--===============================================================================================-->
    @Styles.Render("~/lib/animate.css")
    @Styles.Render("~/lib/hamburgers")
    @Styles.Render("~/lib/animsition")
    @Styles.Render("~/lib/select2")
    @Styles.Render("~/lib/slick-carousel")
    <!--===============================================================================================-->
    @RenderSection("Styles", false)
    <!--===============================================================================================-->
    @Styles.Render("~/Content/FrancisStore")
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- Header fixed -->
    @{Html.RenderAction(nameof(FrancisStoreController.HeaderFixed), ViewContext.RouteData.Values["controller"]);}
    <!-- Top Notification -->
    @{Html.RenderAction(nameof(FrancisStoreController.TopNotification), ViewContext.RouteData.Values["controller"]);}
    <!-- Header -->
    @{Html.RenderAction(nameof(FrancisStoreController.Header), ViewContext.RouteData.Values["controller"]);}
    @RenderBody()
    <!-- Footer -->
    @{Html.RenderAction(nameof(FrancisStoreController.Footer), ViewContext.RouteData.Values["controller"]);}
    <!-- Back to top -->
    @{Html.RenderPartial("_BackToTop");}
    <!-- Container Selection -->
    @{Html.RenderPartial("_CurrencySelection");}
    @RenderSection("DropdownSelection", false)
    <!-- Bottom Modal-->
    @RenderSection("BottomModal", false)

    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/jquery")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/animsition")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/bootstrap")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/select2")
    <!--===============================================================================================-->
    <script>
        //Language selection
        $(".selection-1").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#CurrencySelection')
        });
    </script>
    <!--===============================================================================================-->
    @RenderSection("Scripts", false)
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/FrancisStore")
    <!--===============================================================================================-->

</body>
</html>
