<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="Images/icons/favicon.png" />
    <!--===============================================================================================-->
    @Styles.Render("~/Content/bootstrap")
    <!--===============================================================================================-->
    @Styles.Render("~/fonts/css")
    <!--===============================================================================================-->
    @Styles.Render("~/lib/css")
    <!--===============================================================================================-->
    @Styles.Render("~/Content/FrancisStore")
    <!--===============================================================================================-->
</head>

<body class="animsition">

    <!-- header fixed -->
    @{Html.RenderAction(nameof(FrancisStoreController.HeaderFixed), ViewContext.RouteData.Values["controller"]);}

    <!-- top noti -->
    @{Html.RenderAction(nameof(FrancisStoreController.TopNotification), ViewContext.RouteData.Values["controller"]);}

    <!-- Header -->
    @{Html.RenderAction(nameof(FrancisStoreController.Header), ViewContext.RouteData.Values["controller"]);}

    @RenderBody()

    <!-- Footer -->
    @{Html.RenderAction(nameof(FrancisStoreController.Footer), ViewContext.RouteData.Values["controller"]);}

    <!-- Back to top -->
    @{Html.RenderPartial("_BackToTop");}

    <!-- Container Selection -->
    @RenderSection("DropdownSelection", false)

    <!-- Modal Video-->
    @RenderSection("ModalVideo", false)

    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/jquery")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/animsition")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/bootstrap")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/select2")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/slick-carousel")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/lightbox2")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/sweetalert")
    <!--===============================================================================================-->
    @Scripts.Render("~/bundles/FrancisStore")
    <!--===============================================================================================-->
    @RenderSection("Scripts", false)

</body>
</html>
