@using Microsoft.AspNet.Identity
@using FrancisStore.Identity
<header class="header2">
    <!-- Header desktop -->
    <div class="container-menu-header-v2 p-t-26">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="#" class="topbar-social-item fa fa-facebook"></a>
                <a href="#" class="topbar-social-item fa fa-instagram"></a>
                <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
            </div>

            <!-- Logo2 -->
            <a href="index.html" class="logo2">
                <img src="~/Images/icons/logo.png" alt="IMG-LOGO">
            </a>

            <div class="topbar-child2">
                <span class="topbar-email">
                    fashe@example.com
                </span>

                <div class="topbar-language rs1-select2">
                    <select class="selection-1" name="time">
                        <option>USD</option>
                        <option>EUR</option>
                    </select>
                </div>


                <!-- Header cart  -->
                @{Html.RenderAction("Notification", "Cart");}

                <span class="linedivide1"></span>

                <!-- Header user  -->
                <div href="#" class="header-wrapicon2 m-r-13">
                    <img src="~/Images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">

                    <!-- Header user info -->
                    <div class="header-user header-dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="header-user-info p-b-32">
                                <div class="header-user-info-img hov-img-zoom">
                                    <img src="~/Images/user-header-01.jpg" alt="IMG">
                                </div>

                                <div class="header-user-info-txt">
                                    <a href="#" class="header-user-info-name">
                                        @User.Identity.GetUserFirstName() @User.Identity.GetUserLastName()
                                    </a>

                                    <span class="header-user-email">
                                        @User.Identity.GetUserName()
                                    </span>
                                </div>
                            </div>

                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }

                            <div class="header-user-buttons">
                                <div class="header-user-wrapbtn">
                                    <!-- Button -->
                                    @Html.ActionLink("Profile", "Index", "Profile", routeValues: null, htmlAttributes: new { @class = "flex-c-m size1 bg10 bo-rad-20 hov1 s-text1 trans-0-4" })
                                </div>

                                <div class="header-user-wrapbtn">
                                    <!-- Button -->
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="flex-c-m size1 bg12 bo-rad-20 hov1 s-text1 trans-0-4">
                                        Logout
                                    </a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="header-user-info p-b-32">
                                <div class="header-user-noti">
                                    <p class="m-text26 t-center">
                                        You are not logged in!
                                    </p>
                                </div>
                            </div>

                            <div class="header-user-buttons">
                                <div class="header-user-wrapbtn">
                                    <!-- Button -->
                                    @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "flex-c-m size1 bg10 bo-rad-20 hov1 s-text1 trans-0-4" })
                                </div>

                                <div class="header-user-wrapbtn">
                                    <!-- Button -->
                                    @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "flex-c-m size1 bg11 bo-rad-20 hov1 s-text1 trans-0-4" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="wrap_header">

        <!-- Menu -->
        @{Html.RenderPartial("_MainMenu");}

        <!-- Header Icon -->
        <div class="header-icons"></div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap_header_mobile">
        <!-- Logo moblie -->
        <a href="index.html" class="logo-mobile">
            <img src="~/Images/icons/logo.png" alt="IMG-LOGO">
        </a>

        <!-- Button show menu -->
        <div class="btn-show-menu">
            <!-- Header Icon mobile -->
            <div class="header-icons-mobile">
                <div href="#" class="header-wrapicon1 dis-block">
                    <img src="~/Images/icons/icon-header-01.png" class="header-icon1 js-show-header-dropdown" alt="ICON">

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $19.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $39.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $17.00
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="linedivide2"></span>

                <div class="header-wrapicon2">
                    <img src="~/Images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti">0</span>

                    <!-- Header cart noti -->
                    <div class="header-cart header-dropdown">
                        <ul class="header-cart-wrapitem">
                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-01.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        White Shirt With Pleat Detail Back
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $19.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-02.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Converse All Star Hi Black Canvas
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $39.00
                                    </span>
                                </div>
                            </li>

                            <li class="header-cart-item">
                                <div class="header-cart-item-img">
                                    <img src="~/Images/item-cart-03.jpg" alt="IMG">
                                </div>

                                <div class="header-cart-item-txt">
                                    <a href="#" class="header-cart-item-name">
                                        Nixon Porter Leather Watch In Tan
                                    </a>

                                    <span class="header-cart-item-info">
                                        1 x $17.00
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <div class="header-cart-total">
                            Total: $75.00
                        </div>

                        <div class="header-cart-buttons">
                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="cart.html" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    View Cart
                                </a>
                            </div>

                            <div class="header-cart-wrapbtn">
                                <!-- Button -->
                                <a href="#" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                                    Check Out
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </div>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="wrap-side-menu">
        <nav class="side-menu">
            <ul class="main-menu">
                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <span class="topbar-child1">
                        Free shipping for standard order over $100
                    </span>
                </li>

                <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
                    <div class="topbar-child2-mobile">
                        <span class="topbar-email">
                            fashe@example.com
                        </span>

                        <div class="topbar-language rs1-select2">
                            <select class="selection-1" name="time">
                                <option>USD</option>
                                <option>EUR</option>
                            </select>
                        </div>
                    </div>
                </li>

                <li class="item-topbar-mobile p-l-10">
                    <div class="topbar-social-mobile">
                        <a href="#" class="topbar-social-item fa fa-facebook"></a>
                        <a href="#" class="topbar-social-item fa fa-instagram"></a>
                        <a href="#" class="topbar-social-item fa fa-pinterest-p"></a>
                        <a href="#" class="topbar-social-item fa fa-snapchat-ghost"></a>
                        <a href="#" class="topbar-social-item fa fa-youtube-play"></a>
                    </div>
                </li>

                <li class="item-menu-mobile">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="item-menu-mobile">
                    @Html.ActionLink("Product", "Index", "Product")
                </li>

                <li class="item-menu-mobile">
                    @Html.ActionLink("Blog", "Index", "Blog")
                </li>

                <li class="item-menu-mobile">
                    @Html.ActionLink("About", "Index", "About")
                </li>

                <li class="item-menu-mobile">
                    @Html.ActionLink("Contact", "Index", "Contact")
                </li>
            </ul>
        </nav>
    </div>
</header>