@model FrancisStore.Web.Models.CheckoutViewModel
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="row">
    <div class="col-md-6 m-auto">

        @using (Html.BeginForm("Index", "Checkout", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            //@Html.AntiForgeryToken()
            <h4 class="m-text26 text-center m-b-20">Shipping Information</h4>
            <hr />

            <p class="text-info m-b-20 text-left">
                To complete your purchase, please enter complete shipping information.
            </p>
            <div class="form-group m-b-20">
                @Html.ValidationSummary("", new { @class = "text-danger s-text23 m-auto text-center" })
            </div>
            <div class="form-group m-b-20 row mx-0">
                <div class="bo4 of-hidden size15 col-md-6">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.FirstName) })
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger s-text23" })
                </div>
                <div class="bo4 of-hidden size15 col-md-6">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.LastName) })
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger s-text23" })
                </div>
            </div>
            <div class="form-group m-b-20">
                <div class="bo4 of-hidden size15 col-md-12">
                    @Html.TextBoxFor(m => m.Address, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.Address) })
                    @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger s-text23" })
                </div>
            </div>
            <div class="form-group m-b-20">
                <div class="bo4 of-hidden size15 col-md-8">
                    @Html.TextBoxFor(m => m.City, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.City) })
                    @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger s-text23" })
                </div>
            </div>
            <div class="form-group m-b-20 row mx-0">
                <div class="bo4 of-hidden size15 col-md-6">
                    @Html.TextBoxFor(m => m.State, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.State) })
                    @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger s-text23" })
                </div>
                <div class="bo4 of-hidden size15 col-md-6">
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.PostalCode) })
                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger s-text23" })
                </div>
            </div>

            <div class="form-group m-b-20">

                <div class="rs2-select2 rs3-select2 rs4-select2 bo4 of-hidden w-size21 m-t-8 m-b-12">
                    <select class="selection-2 select2-hidden-accessible" name="country" tabindex="-1" aria-hidden="true" id="select-country">
                        <option value="">Select a country...</option>
                        @foreach (var country in Model.Countries)
                        {
                            <option value="@country.Id" @(country.IsSelected ? "selected" : "")>@country.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group m-b-20">
                <div class="bo4 of-hidden size15 col-md-8">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.Phone) })
                    @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger s-text23" })
                </div>
            </div>
            <div class="form-group m-b-20">
                <div class="bo4 of-hidden size15 col-md-12">
                    @Html.TextBoxFor(m => m.Email, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.Email) })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger s-text23" })
                </div>
            </div>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4 m-auto">
                    <input type="submit" class="flex-c-m size2 bg11 bo-rad-20 hov1 s-text1 trans-0-4" value="Submit" />
                </div>
            </div>
        }


    </div>
</div>

@section DropdownSelection
{
    <div id="CountrySelections"></div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //Filter Selections
        $(".selection-2").select2({
            minimumResultsForSearch: 20,
            dropdownParent: $('#CountrySelections')
        });
    </script>
}