@model FrancisStore.Identity.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 m-auto">

        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="m-text26 text-center">
                Forgot your password?
            </h4>
            <hr />
            <div class="form-group m-b-20">
                @Html.ValidationSummary("", new { @class = "text-danger s-text23 m-auto text-center" })
            </div>
            <div class="form-group m-b-20 col-md-12">
                <div class="bo4 of-hidden size15 col-md-8 m-auto">
                    @Html.TextBoxFor(m => m.Email, new { @class = "sizefull s-text3 p-l-22 p-r-22", @placeholder = Html.DisplayNameFor(m => m.Email) })
                </div>
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger s-text23" })
            </div>
            <div class="form-group col-md-4 m-auto">
                <div class="col-md-12">
                    <input type="submit" class="flex-c-m size2 bg11 bo-rad-20 hov1 s-text1 trans-0-4" value="Email Link" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
